html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

* {
    /* border: 1px solid red; */
}

body {
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(260deg, #2376ae 0%, green 100%);
}

a {
    color: #fff;
    font-weight: 200;
    transition: all 0.5s;
}

a:hover {
    /* background:rgba(0,0,0,0.3); */
    color: yellow;
}

p {
    letter-spacing: 1px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

footer,
header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    font-weight:200;
}

.link {
    text-align: center;
}

img {
    display: block;
    width: 50%;
    border: 10px solid rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

#img-div {
    display: flex;
    flex-direction: column;
}

#image {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

footer a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header,
    footer {
        width: 100%;
    }

    main {
        flex: 2;
        order: 2;
    }

    /* .left-sidebar {
        order: 1;
        flex: 1;
    }

    .right-sidebar {
        flex: 1;
        order: 3;
    } */

    footer {
        order: 4;
    }
}