html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

* {
    /* border: 1px solid red; */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: Verdana, sans-serif;
    background-image: linear-gradient(260deg, #2376ae 0%, green 100%);
}

footer,
header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    /* border: 2px solid black; */
    background: inherit;
    height: 100vh;
}

img {
    display: block;
    border: 10px solid black;
}

#img-div {
    display: flex;
    flex-direction: column;
}

#image {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    padding-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

@media all and (min-width: 768px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header,
    footer {
        width: 100%;
    }

    main {
        flex: 2;
        order: 2;
    }

    /* .left-sidebar {
        order: 1;
        flex: 1;
    }

    .right-sidebar {
        flex: 1;
        order: 3;
    } */

    footer {
        order: 4;
    }
}